#app3{

}

#app3 .square{
    border: 1px solid black;
    width: 10vh;
    height: 10vh;
    margin-top: 10vh;
    margin-left: 10vh;
    transition:transform 1s ;
}

#app3 .square.active{
    transform: translateX(100px);
}
